@use './devices' as *;
@use './variables' as *;
@use './colors' as *;
@use 'mixins' as *;
//large mobile
@media screen and (max-width: $lg-mobile){
    body, .banner{
        width: $width;
        display: flex;
        flex-direction: column;
    }

    header{
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: rgb(95, 89, 89);
        align-items: center;
        justify-content: center;
        height: 10vh;
        .logo{
            span{
                font-size: 2rem;
                font-weight: bold;
                color: $theme;
                span{
                    color: $black;
                }
            }
        }
        .menu{
            position: absolute;
            right: 2rem;
            .ctrl{
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
        .navlinks{
            position: absolute;
            @include set-display(none);
            flex-direction: column;
            background-color: $white;
            top: 0;
            right: 0;
            z-index: 5;
            width: $width;
            .ctrl{
                border: 1px solid rgba(0, 0, 0, 0.507);
                position: relative;
                right: 0;
                top: 0;
                padding: 1rem 0;
                font-size: 1.3rem;
                text-align: right;
                cursor: pointer;
            }
            .links{
                @include flex-col;
                a{
                    text-decoration: none;
                    color: $black;
                    padding: 1rem 1rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
                    cursor: pointer;
                    &:hover{
                        @include hover-links-mb;
                    }
                }

            }
            .btns{
                @include flex-col;
                .btn{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
                    padding: 1rem 1rem;
                    cursor: pointer;
                    &:hover{
                        @include hover-links-mb;
                    }
                    span{
                        padding: 0 .4rem;
                    }
                    
                }
            }
        }
    }

    footer{
        position: relative;
        border: 1px solid;
        @include set-display(grid);
        grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
        .top{
            border: 1px solid;
            position: relative;
            @include flex-col;
            justify-content: center;
            align-items: center;
            img{
                @include bg-attachment;
                object-fit: cover;
            }

            .overlay{
                @include bg-attachment;
                background-color: rgba(0, 0, 0, 0.308);
            }
            .content{
                position: relative;
                z-index: 1;
                color: $theme-light;
                @include flex-col;
                justify-content: center;
                align-items: center;
                font-family: 'Dancing Script', cursive;
                h1{
                    padding: 1rem 0;
                }
                .icons{
                    @include flex-row;
                    justify-content: space-evenly;
                    align-items: space-evenly;
                    .icon{
                        @include icon-style(.4rem, .5rem, 1.2rem);
                    }
                }
            }
        }
        .bottom{
            background-color: $footer-bg;
            color: rgb(173, 171, 171);
            @include flex-col;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            .btm-links{
                a{
                    @include navlinks;
                    color: rgb(192, 189, 189);
                    margin: .3rem .5rem;
                    &:hover{
                        transition: all 0.3s ease-in-out;
                        color: rgb(228, 226, 226);
                    }
                }
            }

            .copyright{
                font-size: .87rem;
                margin-top: .5rem;
            }
        }

    }
    
}