@use './colors' as *;
//button styles
@mixin btn-style($width, $color, $bg-color, $radius){
    border-radius: $radius;
    color: $color;
    width: $width;
    background-color: $bg-color;
}

//background attachment styles
@mixin bg-attachment{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

//icons
@mixin icon-style($margin-l, $padding, $size){
    font-size: $size;
    color: $theme-light;
    padding: 0 $padding;
    cursor: pointer;
    margin-left: $margin-l;
}
//display set
@mixin set-display($display){
    display: $display;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
}

@mixin flex-row{
    display: flex;
    flex-direction: row;
}

//nav link mixins
@mixin navlinks{
    text-decoration: none;
    
}

@mixin logo-style($size, $color){
    font-size: $size;
    color: $theme; //$theme
    font-weight: bold;
    span{
        color: $color; //$black
    }
}

@mixin hover-links-mb{
    transition: all 0.4s ease-in-out;
    background-color: $theme;
}

//home content
@mixin home-content{
    position: relative;
    z-index: 5;
    color: $white;
    margin: 0 1rem;
    @include flex-col;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;

}

//section title

@mixin section-title($pad, $size){
    position: relative;
    text-align: center;
    padding: $pad 0;
    font-size: $size;
}