@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap"); /*COLORS*/
@media screen and (max-width: 425px) {
  body, .banner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    background-color: rgba(29, 28, 28, 0.137);
    align-items: center;
    justify-content: center;
    height: 10vh;
  }
  header .logo span {
    font-size: 2rem;
    color: rgb(221, 221, 27);
    font-weight: bold;
  }
  header .logo span span {
    color: #000;
  }
  header .menu {
    position: absolute;
    display: block !important;
    right: 2rem;
  }
  header .menu .ctrl {
    font-size: 1.5rem;
    cursor: pointer;
  }
  header .navlinks {
    position: absolute !important;
    display: none;
    flex-direction: column !important;
    align-items: flex-start !important;
    color: #000 !important;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.253);
    transition: all 0.4s ease-in-out;
  }
  header .navlinks .close-menu {
    border: 1px solid rgba(0, 0, 0, 0.507);
    position: relative;
    width: 100%;
    right: 0;
    top: 0;
    padding: 1rem 0 !important;
    font-size: 1.3rem !important;
    text-align: center;
    cursor: pointer;
    display: block !important;
    transition: all 0.4s ease-in-out;
  }
  header .navlinks .close-menu:hover {
    background-color: #000;
    color: #fff;
    transition: all 0.4s ease-in-out;
  }
  header .navlinks .links {
    display: flex;
    width: 100%;
    flex-direction: column !important;
  }
  header .navlinks .links a {
    text-decoration: none;
    color: #000 !important;
    font-weight: normal !important;
    padding: 1rem 1rem !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    cursor: pointer;
  }
  header .navlinks .links a:hover {
    transition: all 0.4s ease-in-out;
    background-color: rgb(221, 221, 27);
  }
  header .navlinks .btns {
    display: flex;
    flex-direction: column !important;
    width: 100% !important;
    align-items: flex-start !important;
  }
  header .navlinks .btns .btn {
    width: 100% !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    padding: 1rem 1rem !important;
    cursor: pointer;
    font-weight: normal !important;
  }
  header .navlinks .btns .btn:hover {
    transition: all 0.4s ease-in-out;
    background-color: rgb(221, 221, 27);
  }
  header .navlinks .btns .btn span {
    padding: 0 0.4rem;
  }
  section {
    position: relative;
    width: 100%;
    height: auto;
  }
  section .home {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section .home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
  }
  section .home .content {
    position: relative;
    z-index: 5;
    color: #fff;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  section .home .content span {
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem !important;
  }
  section .home .content h1 {
    font-size: 4rem !important;
    text-transform: uppercase;
    font-weight: bold;
  }
  section .home .content p {
    text-align: center;
    font-size: 1.2rem !important;
  }
  section .container{
    position: fixed;
    width: 100%;
    top: 10vh;
    right: 0;
    height: 90vh;
    border-radius: 10px 10px 10px 10px;
    z-index: 6;
    background-color: #fff;
    padding: .6rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.233);
    display: flex;
    flex-direction: column;
  }
  section .container .close-sidebar{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.26);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  section .container .controls .btn{
    padding: 1.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section .container .controls .btn:hover{
    background-color: #e6e6e6;
    transition: all 0.5s ease-in-out;
  }
  section .container .controls .btn span{
    font-size: 1rem;
    padding-left: .5rem;
  }
  section .container .cont-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  section .container .controls{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section .container .cont-body .fav{
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
  }
  section .container .cont-body .fav h1{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: #fff;
  }
  section .container .cont-body .fav .lists{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 70vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
  }
  section .container .cont-body .fav .lists .list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: .8rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    margin: 0 0 .8rem 0;
  }
  section .container .cont-body .fav .lists .list-item h2{
    font-size: 1.2rem;
    padding-bottom: .5rem;
   
  }

  section .container .cont-body .fav .lists .list-item p{
    padding-bottom: 3rem;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;

  }
  
  section .container .cont-body .fav .lists .list-item .ctrls{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: .4rem;
  }
  section .container .cont-body .fav .lists .list-item .ctrls span{
    font-size: .9rem;
    font-weight: 600;
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.685);
  }
  section .container .cont-body .fav .lists .list-item .ctrls .ctrl{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }
  section .container .cont-body .fav .lists .list-item .ctrls .ctrl .icon{
    margin: 0 1rem;
  }
  section .container .cont-body .new{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
  }
  section .container .cont-body .new h1{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: #fff;
  }

  section .container .cont-body .new form{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 70vh;
    overflow: auto;
  }
  section .container .cont-body .new form .form-group{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
  }
  section .container .cont-body .new form .form-group label{
    font-size: 1.1rem;
    padding-bottom: .4rem;
  }
  section .container .cont-body .new form .form-group input, select{
    width: 100%;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.171);
    height: 45px;
    border-radius: 5px;
    font-size: 1.1rem;

  }
  section .container .cont-body .new form .form-group textarea{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    resize: none;
    height: 60px;
    padding: .5rem;
    font-size: 1.1rem;
  }
  section .container .cont-body .new form .form-group input[type='submit']{
    width: 100%;
    height: 50px;
    background-color: rgb(140, 221, 34);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 1rem;
    border: none;
  }

  section .recipe {
    position: relative;
    width: 100%;
  }
  section .recipe h1 {
    position: relative;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
  section .recipe .search-area{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  section .recipe .search-area .search{
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 30px;
  }
  section .recipe .search-area .search input{
    padding: .7rem 1.2rem;
    flex-basis: 100%;
    font-size: 1rem;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    font-weight: 600;
    color: rgba(3, 4, 17, 0.747);
  }
  section .recipe .search-area .search button{
    padding: .7rem 1rem;
    border-radius: 0 30px 30px 0;
    font-size: 1rem;
    cursor: pointer;
    border: none;
  }
  
  section .recipe .recipe-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 ;
  }
  section .recipe .recipe-list .recipe-item {
    position: relative;
    width: calc(50% - 1.2rem) !important;
    margin: 0.6rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.055) !important;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
  }
  section .recipe .recipe-list .recipe-item:hover {
    transition: all 0.4s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.281);
    filter: none;
    transform: translateY(-5px);
  }
  section .recipe .recipe-list .recipe-item img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0 0;
    filter: grayscale(0.3);
    transition: all 0.4s ease-in-out;
  }
  section .recipe .recipe-list .recipe-item img:hover {
    transition: all 0.4s ease-in-out;
    filter: none;
  }
  section .recipe .recipe-list .recipe-item .recipe-content {
    display: flex;
    flex-direction: column;
  }
  section .recipe .recipe-list .recipe-item .recipe-content h2 {
    padding: 0.2rem 0 !important;
    font-size: 1.2rem !important;
  }
  section .recipe .recipe-list .recipe-item .recipe-content p {
    line-height: 1.6;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    font-size: 1rem !important;
    padding-right: 0 !important;
  }
  section .recipe .recipe-list .recipe-item .recipe-btns {
    display: flex;
    flex-direction: row;
    padding: 0.8rem 0;
    justify-content: center;
  }
  section .recipe .recipe-list .recipe-item .recipe-btns .btn {
    cursor: pointer;
    padding-right: 2rem;
  }
  section .about {
    position: relative;
    width: 100%;
    height: auto;
  }
  section .about h1 {
    position: relative;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.5rem;
  }
  section .about .content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
  }
  section .about .content .sec {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.103);
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  section .about .content .sec:hover {
    transition: all 0.4s ease-in-out;
    border: 1px solid rgb(221, 221, 27);
    transform: scale(1.05);
  }
  section .about .content .sec .ctrl {
    font-size: 1.6rem;
    padding: 1rem 0;
  }
  section .about .content .sec p {
    text-align: center;
    padding: 0.7rem 1rem;
  }
  section .about .content .sec p span {
    font-size: 1.2rem;
    color: rgb(221, 221, 27);
  }
  footer {
    position: relative;
    height: auto !important;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  }
  footer .top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  footer .top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
  }
  footer .top .content {
    position: relative;
    z-index: 1;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", cursive;
  }
  footer .top .content h1 {
    padding: 1rem 0;
  }
  footer .top .content .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
  }
  footer .top .content .icons .icon {
    font-size: 1.2rem;
    color: #f1f1f1;
    padding: 0 0.5rem;
    cursor: pointer;
    margin-left: 0.4rem;
    transition: all 0.4s ease-in-out;
  }
  footer .top .content .icons .icon:hover {
    transition: all 0.4s ease-in-out;
    color: rgb(212, 184, 20);
  }
  footer .bottom {
    background-color: #262626;
    color: rgb(173, 171, 171);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  footer .bottom .btm-links a {
    text-decoration: none;
    font-size: 1.1rem;
    color: rgb(192, 189, 189);
    margin: 0.3rem 0.5rem;
  }
  footer .bottom .btm-links a:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(228, 226, 226);
  }
  footer .bottom .copyright {
    font-size: 0.87rem;
    margin-top: 0.5rem;
  }
  footer .bottom .text-box{
    position: absolute;
    bottom: 21%;
    right: 2%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(211, 211, 35);
    color: #000;
    transition: all 0.4s ease-in-out;
  }
  footer .bottom .text-box:hover::after{
    content: "Contact developer";
    position: absolute;
    top: -55%;
    right: 15%;
    font-size: .8rem;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.432);
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.show-menu {
  display: flex !important;
  transition: all 0.4s ease-in-out;
}

.dark-nav {
  background-color: rgba(29, 28, 28, 0.815);
}

body, .banner {
  height: auto;
  width: 100%;
  background-color: #fff;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    background-color: rgba(29, 28, 28, 0.137);
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
  }
  header .menu {
    display: none;
  }
  header .logo span {
    font-size: 2.2rem;
    color: rgb(221, 221, 27);
    font-weight: bold;
  }
  header .logo span span {
    color: #000;
  }
  header .navlinks {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(224, 223, 223);
  }
  header .navlinks .close-menu {
    display: none;
  }
  header .navlinks .links {
    display: flex;
    flex-direction: row;
  }
  header .navlinks .links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 0rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(224, 223, 223);
  }
  header .navlinks .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  header .navlinks .btns .btn {
    padding: 0rem 1rem;
    cursor: pointer;
    font-weight: bold;
  }

  section {
    position: relative;
    width: 100%;
    height: auto;
  }
  section .home {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
      object-fit: cover;
    background-clip: content-box;
  }
  section .home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.329);
  }
  section .home .content {
    position: relative;
    z-index: 5;
    color: #fff;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  section .home .content span {
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
  }
  section .home .content h1 {
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  section .home .content p {
    text-align: center;
    font-size: 1.5rem;
  }
  section .container{
    position: fixed;
    width: 25%;
    top: 10vh;
    right: 0;
    height: 90vh;
    border-radius: 10px 0 0 10px;
    z-index: 6;
    background-color: #fff;
    padding: .6rem;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.233);
    display: none;
    flex-direction: column;
  }
  section .container .close-sidebar{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.26);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  section .container .controls{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section .container .controls .btn{
    padding: 1.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    flex: 1;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section .container .controls .btn:hover{
    background-color: #e6e6e6;
    transition: all 0.5s ease-in-out;
  }
  section .container .controls .btn span{
    font-size: 1rem;
    padding-left: .5rem;
  }
  section .container .cont-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  section .container .cont-body .fav{
    display: none;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
  }
  section .container .cont-body .fav h1{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: #fff;
  }
  section .container .cont-body .fav .lists{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 70vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.096);
  }
  section .container .cont-body .fav .lists .list-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: .8rem;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    margin: 0 0 .8rem 0;
  }

  section .container .cont-body .fav .lists .list-item h2{
    font-size: 1.2rem;
    padding-bottom: .5rem;
   
  }

  section .container .cont-body .fav .lists .list-item p{
    padding-bottom: 3rem;
    line-height: 1.5rem;
    max-height: 3rem;
    overflow: hidden;

  }
  
  section .container .cont-body .fav .lists .list-item .ctrls{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: .4rem;
  }
  section .container .cont-body .fav .lists .list-item .ctrls span{
    font-size: .9rem;
    font-weight: 600;
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.685);
  }
  section .container .cont-body .fav .lists .list-item .ctrls .ctrl{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
  }
  section .container .cont-body .fav .lists .list-item .ctrls .ctrl .icon{
    margin: 0 1rem;
  }
  section .container .cont-body .new{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    padding: 1rem;
  }
  section .container .cont-body .new h1{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: #fff;
  }

  section .container .cont-body .new form{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 70vh;
    overflow: auto;
  }
  section .container .cont-body .new form .form-group{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
  }
  section .container .cont-body .new form .form-group label{
    font-size: 1.1rem;
    padding-bottom: .4rem;
  }
  section .container .cont-body .new form .form-group input, select{
    width: 100%;
    padding: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.171);
    height: 45px;
    border-radius: 5px;
    font-size: 1.1rem;

  }
  section .container .cont-body .new form .form-group textarea{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 5px;
    resize: none;
    height: 60px;
    padding: .5rem;
    font-size: 1.1rem;
  }
  section .container .cont-body .new form .form-group input[type='submit']{
    width: 100%;
    height: 50px;
    background-color: rgb(140, 221, 34);
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-top: 1rem;
    border: none;
  }
  section .recipe {
    position: relative;
    width: 100%;
  }
  section .recipe h1 {
    position: relative;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
  }
  section .recipe .search-area{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  section .recipe .search-area .search{
    position: relative;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 30px;
  }
  section .recipe .search-area .search input{
    padding: 1rem 1.2rem;
    flex-basis: 100%;
    font-size: 1.1rem;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    font-weight: 600;
    color: rgba(3, 4, 17, 0.747);
  }
  section .recipe .search-area .search button{
    padding: 1rem 1rem;
    border-radius: 0 30px 30px 0;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
  }
  section .recipe .recipe-list {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 10rem;
  }
  section .recipe .recipe-list .recipe-item {
    position: relative;
    margin: .6rem .6rem;
    border: 1px solid rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    flex-basis: 300px;
  }
  section .recipe .recipe-list .recipe-item:hover {
    transition: all 0.4s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.281);
    filter: none;
    transform: translateY(-5px);
  }
  section .recipe .recipe-list .recipe-item img {
    -o-object-fit: cover;
      object-fit: cover;
    width: 100%;
    border-radius: 5px 5px 0 0;
    filter: grayscale(0.3);
    transition: all 0.4s ease-in-out;
  }
  section .recipe .recipe-list .recipe-item img:hover {
    transition: all 0.4s ease-in-out;
    filter: none;
  }
  section .recipe .recipe-list .recipe-item .recipe-content {
    display: flex;
    flex-direction: column;
  }
  section .recipe .recipe-list .recipe-item .recipe-content h2 {
    padding: 0.5rem 0;
    font-size: 1.6rem;
  }
  section .recipe .recipe-list .recipe-item .recipe-content p {
    line-height: 1.6;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    font-size: 1.2rem;
    padding-right: 1rem;
  }
  section .recipe .recipe-list .recipe-item .recipe-btns {
    padding: 0.6rem 0.5rem;
    display: flex;
    flex-direction: row;
  }
  section .recipe .recipe-list .recipe-item .recipe-btns .btn {
    cursor: pointer;
    padding-right: 2rem;
  }
  section .about {
    position: relative;
    width: 100%;
    height: auto;
    background: rgb(245, 245, 245);
    height: 60vh;
    margin-top: 5rem;
  }
  section .about h1 {
    position: relative;
    text-align: center;
    padding: 3rem 0;
    font-size: 2rem;
  }
  section .about .content {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
  }
  section .about .content .sec {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.103);
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    margin: 0 2rem;
  }
  section .about .content .sec:hover {
    transition: all 0.4s ease-in-out;
    border: 1px solid rgb(221, 221, 27);
    transform: scale(1.05);
  }
  section .about .content .sec .ctrl {
    font-size: 2rem;
    padding: 1rem 0;
  }
  section .about .content .sec p {
    text-align: center;
    padding: .8rem 1rem;
    font-size: 1.2rem;
    line-height: 1.8;
  }
  section .about .content .sec p span {
    font-size: 1.2rem;
    color: rgb(221, 221, 27);
  }

  footer {
    position: relative;
    height: 50vh;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
  }
  footer .top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer .top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
      object-fit: cover;
  }
  footer .top .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.473);
  }
  footer .top .content {
    position: relative;
    z-index: 1;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Dancing Script", cursive;
  }
  footer .top .content h1 {
    padding: 2rem 0;
    font-size: 4rem;
    letter-spacing: .5rem;
  }
  footer .top .content .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
  }
  footer .top .content .icons .icon {
    font-size: 1.6rem;
    color: #e2e2e2;
    padding: 0 0.5rem;
    cursor: pointer;
    margin-left: 1.3rem;
    transition: all 0.4s ease-in-out;
  }
  footer .top .content .icons .icon:hover {
    transition: all 0.4s ease-in-out;
    color: rgb(212, 184, 20);
  }
  footer .bottom {
    background-color: #262626;
    color: rgb(173, 171, 171);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    padding: 1rem 0;
  }
  footer .bottom .btm-links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(192, 189, 189);
    margin: 0.3rem 0.5rem;
  }
  footer .bottom .btm-links a:hover {
    transition: all 0.3s ease-in-out;
    color: rgb(228, 226, 226);
  }
  footer .bottom .copyright {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  footer .bottom .text-box{
    position: absolute;
    bottom: -10%;
    right: 5%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(211, 211, 35);
    color: #000;
    transition: all 0.4s ease-in-out;
  }
  footer .bottom .text-box:hover::after{
    content: "Contact developer";
    position: absolute;
    top: -40%;
    left: -30%;
    font-size: .8rem;
    width: 100px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.432);
    color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
  }
  
}
  

/*# sourceMappingURL=styles.css.map */